html {
  height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#config_panel {
  display: flex;
  width: 100%;
  flex: 500px;
  min-height: 100%;
  padding-bottom: 90px;
  box-sizing: border-box;
}

#spinfo {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 5px 5px 5px 5px;
  overflow-x: hidden;
  border-right: 1px solid currentColor;
}

#spdetail {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 5px 5px 5px 5px;
}

.config-title {
	display: block;
	margin: 5px 5px 5px 55px;
}

.config-content {
  margin: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
}

.config-content svg {
  fill: currentColor;
  margin: 5px 5px 5px 5px;
  flex-shrink: 0;
}

#nameinput {
  margin: 5px 5px 5px 5px;
  flex-grow: 1;
  flex-basis: 200px;
  flex-shrink: 0;
}

.button-line {
  display: flex;
  margin: 5px 5px 5px 5px;
  flex-direction: row;
  justify-content: flex-end;
}

#splist {
  list-style: none;
  margin-left: -30px;
  display: inline-block;
}
.spitem {
  display: block;
  position: relative;
  padding-left: 5px;
  line-height: 24px;
  width: 270px;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}
.nested {
  list-style: none;
  margin-left: -20px;
  display: none;
}

.active {
  display: block;
}

.spitem .icon {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}
.spitem .icon img {
  width: 16px;
  height: 16px;
  vertical-align: baseline;
}
.sfitem {
  display: block;
  position: relative;
  padding-left: 5px;
  line-height: 24px;
  width: 270px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.spitem .text, .sfitem .text {
  padding-left: 22px;
}
.sfitem .icon {
  position: absolute;
  fill: currentColor;
  left: 3px;
}

.sfitem .icon svg {
    margin-top: 2px;
}

#backup_panel {
  height: 90px;
  margin-top: -90px;
  box-sizing: border-box;
  border-top: currentcolor solid 1px;
}

#splist .spitem:hover {
  background: #0095dd40;
}
#splist .sfitem:hover {
  background: #0095dd40;
}
