img {
  pointer-events: none;
}
body {
	cursor: default;
	-moz-user-select: none;
	user-select: none;
	white-space: nowrap;
	font: message-box;
	font-size: 12px;
	padding-bottom: 2px;
    line-height: 24px;
}

#engineList {
  list-style-type: none;
  margin: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  padding: 0;
}
#engineList .spitem .icon {
  transform: translateY(-50%);
  margin: 5px;
}
#engineList .sfitem > .icon {
  transform: translateY(-50%);
  margin: 5px 6px 0px 4px;
  fill: currentcolor;
  vertical-align: text-top;
}
#engineList .spitem .icon img {
  width: 16px;
  height: 16px;
  vertical-align: -4px;
}
#engineList .spitem:hover {
  background: #0095dd40;
}
#engineList .sfitem:hover {
  background: #0095dd40;
}
.nested {
  display: none;
  margin-left: -20px;
}

.active {
  display: block;
}

#engineList .spitem, .sfitem{
  display: block;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-width: 1px 0;
  white-space: nowrap; 
  overflow: hidden;
  position: relative;
  padding: 0 18px 0 0;
}

